body {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  background-color: #eeeeee;
}

.img-settings {
  width: 72px;
  height: 72px;
  border: 1px solid #cccccc;
  border-radius: 3px;
}

.img-stack {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

.wrapper {
  padding-top: 30px;
}

.settings {
  background: #fff;
  margin-bottom: 30px;
}

.settings-content {
  overflow: scroll;
  height: calc(100vh - 56px - 60px - 38px - 50px - 60px - 42px);
}

.fileControls {
  margin-bottom: 30px;
}

.app-desc {
  padding: 24px;
}

.simulateRotation {
  background: white;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 12px;
}

.settings-tab {
  margin-top: 12px;
  margin-right: 12px;
}

.settings-elements {
  display: inline-block;
  margin-left: 12px;
  vertical-align: middle;
}

.layer-btns {
  border: 1px solid #ccc;
  border-radius: 3px;
}

.btn:focus,
button:focus,
.btn.button.layer-btns:focus,
input:focus {
  outline: none;
}

.changeFileBtn {
  background: transparent;
  border: 1px solid #333;
  color: #000;
}

.publishBtn {
  background: transparent;
  color: #1478fb;
  border: 1px solid #1478fb;
}

.publishBtn:hover {
  background: #1478fb;
}

.nav-tabs .nav-item {
  width: 50%;
}

.nav-tabs .nav-link:active {
  background-color: #eee;
  border: none;
}

.nav-tabs .nav-link {
  text-align: center;
  border: none;
  background-color: #f7f7f7;
}

.number-input {
  width: 20%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
  text-align: center;
}

.checkmark {
  background-color: red;
}
